body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

section.hidden {
    display: none;
}

.results {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.result_image {
    display: inherit;
    width: 300px;
    height: 300px;
}